//colors

$Black: #000000;
$White: #ffffff;
$PowerBlue: #BFE6E6;
$Blush: #E06588;
$ShimmeringBlush: #E37F9B;
$NadeshikoPink: #F6A7BA;
$BabyPink: #FFCCD2;
$MistyRose: #F7DCDD;


// font sizes 

$font-sm:0.875rem;
$font-med: 1.125rem;
$font-lg: 3.75rem;



